.cursor-pointer {
  cursor: pointer!important;
}

.no-hover-underline:hover {
  color: #3498db!important;
  text-decoration: none!important;
}

.chat-seen {
  color: rgb(133, 210, 122);
  margin-left: -5px;
}

.chat-header {
  color: rgb(133, 210, 122);
}